.button {
    background-color: #0a3d62;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.button:hover {
    transition: 1s all;
    border: 1px solid #0a3d62;
    background-color: #0a3d62;
}