.order-history-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-history-title {
  text-align: center;
  margin-bottom: 20px;
}

.order-box {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-box p {
  margin-bottom: 10px;
}

.order-history-table {
  width: 100%;
  border-collapse: collapse;
}

.order-history-table th,
.order-history-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.order-history-table th {
  background-color: #f0f0f0;
}

.order-history-table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}