.BoxPayment {
    min-width: 320px;
    min-height: 100vh;
    background-color: #ffffff;

    .boxContent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paymentLeft {
        min-height: 100vh;
        background-color: #ffffff;
        border-right: 1px solid rgb(232, 232, 232);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .paymentRight {
        min-height: 100vh;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:760px) {
    .boxContent {
        display: flex;
        flex-direction: column-reverse;
    }
}

.boxPR {
    .boxProPayment {
        overflow-y: auto;
        padding: 10px;
        height: 350px;

        .imagePR {
            border-radius: 5px;
            width: 80%;
            border: 1px solid rgb(236, 236, 236);
        }

        .descriptionPR {
            font-weight: 500;
        }

        .quantityP {
            position: absolute;
            color: white;
            background-color: #cfab68;
            padding: 1px 9px;
            border-radius: 100%;
            top: -5%;
            right: 17%;
        }
    }

}

.boxForm {
    overflow-y: auto;
    height: 450px;
}